<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>865AA8301E4589ED007FC21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865AA8471E4589EF007FC21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865AA8521E4589EF007FC21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
